html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  width: 320px;
  height: 295px;
  justify-content: space-between;
}

.robot-body {
  width: 320px;
  position: absolute;
  padding-left: 1.5em;
  padding-right: 1.5em;
  top: 47%;
  max-width: 50em;
  left: 50%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  top: 0%;
  max-width: 2em;
  left: 50%;
  transform: translateX(-50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  margin-left: 26rem;
  margin-top: 5.5rem;
}

.robot-head-left {
  position: absolute;
  width: 125px;
  margin-left: 18.5rem;
  margin-top: 5.5rem;
}
